<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Builders</h2>
  <p>This is a complete listing of build machines leveraged by the Haiku package build system</p>
</div>

<table class="table table-striped table-hover table-condensed" style='width: 100%;'>
  <thead>
    <tr>
      <th>Hostname</th>
      <th>Architecture</th>
      <th>OS Build</th>
      <th>Client Version</th>
      <th>Threads</th>
      <th>Owner</th>
      <th>Location</th>
      <th>State</th>
    </tr>
  </thead>

  <tbody>
    <% @builders.each do |builder| %>
      <tr>
        <td><%=raw builder_icon(builder) %> <%= link_to builder.hostname, builder %></td>
        <td><%= (builder.architecture ? builder.architecture['name'] : "unknown")%></td>
        <td><%= (builder.osbuild or "unknown") %></td>
        <td><%= (builder.client_version or "unknown") %></td>
        <td><%= (builder.threads or "unknown") %></td>
        <td><%= builder.owner.gsub(/.{2}@.{2}/, '##@##') %></td>
        <td><%= link_to builder.location, "https://maps.google.com/maps?q=#{builder.location}", :target => "_blank" %></td>
        <td><%=raw heartbeat_info(builder) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
