<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Builders</h2>
  <p>This is a complete listing of build machines leveraged by the Haiku package build system</p>
</div>

<table style="border: 1px solid black; width: 100%; border-spacing: 0px; margin-bottom: 3px;">
  <thead>
    <tr style="font-size: 1.0em; text-align: left; background-color: #cccccc;">
      <th>Hostname</th>
      <th>Architecture</th>
      <th>OS Build</th>
      <th>Owner</th>
      <th>Location</th>
      <th>Last seen</th>
    </tr>
  </thead>

  <tbody>
    <% @builders.each do |builder| %>
      <tr style="font-size: 1.0em; background-color: <%= cycle('#eeeeee', '#ffffff') -%>;">
        <td><%= link_to builder.hostname, builder %></td>
        <td><%= (builder.architecture['name'] or "unknown")%></td>
        <td><%= (builder.osbuild or "unknown") %></td>
        <td><%= builder.owner.gsub(/.{2}@.{2}/, '##@##') %></td>
        <td><%= link_to builder.location, "https://maps.google.com/maps?q=#{builder.location}", :target => "_blank" %></td>
        <% age = Time.now.to_i - builder.lastheard.to_i %>
        <td style="background-color: <%= (age >= 21600) ? "#FF9999" : "#CCFF99" %>">
        <%= builder.lastheard ? time_ago_in_words(builder.lastheard) : "never" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
