<p id="notice"><%= notice %></p>

<p>
  <strong>Architecture:</strong>
  <%= @builder.architecture.name %>
</p>

<p>
  <strong>Hostname:</strong>
  <%= @builder.hostname %>
</p>

<p>
  <strong>Owner:</strong>
  <%= @builder.owner %>
</p>

<p>
  <strong>Location:</strong>
  <%= link_to @builder.location, "https://maps.google.com/maps?q=#{@builder.location}", :target => "_blank" %>
</p>

<p>
  <strong>Last seen:</strong>
  <%= @builder.lastheard %>
</p>

<%= link_to 'Edit', edit_builder_path(@builder) %> |
<%= link_to 'Back', builders_path %>
