<p id="notice"><%= notice %></p>

<div class="title">
  <span id="major"><%=@builder.hostname %></span><br/>
  <span id="minor"><%=@builder.architecture.name%> package builder owned by <%=@builder.owner%></span>
</div>

<img src="https://maps.googleapis.com/maps/api/staticmap?markers=size:mid%7Ccolor:red%7C<%=@builder.location%>&zoom=4&size=650x200">
<p>
  <strong>Last seen:</strong>
  <%= @builder.lastheard ? "#{time_ago_in_words(builder.lastheard)} ago" : "never" %>
</p>

<p>
  <h3>Recent package builds:</h3>
<br/>
<table style="border: 1px solid black; width: 70%; border-spacing: 0px; margin-bottom: 3px;">
  <thead>
    <tr style="font-size: 1.0em; text-align: left; background-color: #cccccc;">
      <th>Recipe</th>
      <th>Version</th>
      <th>Revision</th>
      <th>Issued</th>
      <th>Completed</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @builder.builds.order('issued DESC').first(10).each do |build| %>
      <tr style="font-size: 1.0em; background-color: <%= cycle('#eeeeee', '#ffffff') -%>;">
        <td><%= link_to build.recipe['name'], build.recipe %></td>
        <td><%= build.recipe['version'] %></td>
        <td><%= build.recipe['revision'] %></td>
        <td><%= build.issued %></td>
        <td><%= build.completed ? build.completed : "never" %></td>
        <td><%= image_tag "icons/#{build.status.downcase}.png" %> <%= link_to build.status, build %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</p>


<%= link_to 'Back', builders_path %>
