<%= form_for(@lint) do |f| %>
  <% if @lint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@lint.errors.count, "error") %> prohibited this lint from being saved:</h2>

      <ul>
      <% @lint.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :clean %><br>
    <%= f.check_box :clean %>
  </div>
  <div class="field">
    <%= f.label :result %><br>
    <%= f.text_field :result %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
