<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Recipes</h2>
  <p>This is a complete listing of <a href="http://bitbucket.org/haikuports/haikuports" target="_BLANK">recipes</a> known to the Haiku package build system</p>
	<div style="float: right; margin-top: -50px">
	<%= form_tag recipes_path, method: 'get' do %>
	    <%= text_field_tag(:search) %>
	    <%= submit_tag("Search", :name => nil) %>
	<% end %>
	</div>
</div>

<center>
<table class="table table-striped table-hover table-condensed" style='width: 100%;'>
  <thead>
	<tr>
		<th>Name</th>
		<th width="128px">Category</th>
		<th width="256px">Version</th>
		<th width="42px">Rev.</th>
		<th width="64px">Lint</th>
		<% @architectures.each do |arch| %>
			<th width="64px"><%= arch[:name] %></th>
		<% end %>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= image_tag "icons/document-task.png" %><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.version %></td>
        <td><%= recipe.revision %></td>
        <td><%= image_tag "icons/" + (recipe['lintret'] == 0 ? "tick-circle-frame.png" : "exclamation-red-frame.png") %></td>
		<% @architectures.each do |arch| %>
			<% package = recipe.packages.where(architecture_id: arch.id).first %>
            <td><%= package_icon(package) %></td>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<%= page_entries_info @recipes %>
<%= will_paginate @recipes, renderer: BootstrapPagination::Rails %>

<br>
