<div class="title">
  <h2>Recipes</h2>
  <p>This is a complete listing of recipes known to the Haiku package build system</p>
</div>


<center>
<table style="border: 1px solid black; width: 100%">
  <thead>
	<tr bgcolor="#aaa" style="font-size: 0.8em;">
		<th>Name</th>
		<th>Category</th>
		<th width="128px">Version</th>
		<th width="32px">Rev.</th>
		<th>Lint</th>
		<!--
		<th width="68px">x86</th>
		<th width="68px">x86_gcc2</th>
		<th width="68px">x86_64</th>
		<th width="68px">arm</th>
		<th width="68px">ppc</th>
		-->
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr style="font-size: 0.9em;" bgcolor="<%= cycle('#eee', '#fff') -%>">
        <td><%= image_tag "icons/document-task.png" %><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.version %></td>
        <td><%= recipe.revision %></td>
        <td><%= image_tag "icons/" + (recipe.lint ? (recipe.lint[:clean] ? "tick-circle-frame.png" : "exclamation-red-frame.png") : "working-bar.gif") %></td>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
