<div class="title">
  <h2>Recipes</h2>
  <p>This is a complete listing of <a href="http://bitbucket.org/haikuports/haikuports" target="_BLANK">recipes</a> known to the Haiku package build system</p>
</div>


<center>
<table style="border: 1px solid black; width: 100%; border-spacing: 0px;">
  <thead>
	<tr bgcolor="#ccc" style="font-size: 0.8em; text-align: left;">
		<th>Name</th>
		<th>Category</th>
		<th width="128px">Version</th>
		<th width="32px">Rev.</th>
		<th>Lint</th>
		<% @architectures.order('architectures.name').each do |arch| %>
			<th width="68px"><%= arch[:name] %></th>
		<% end %>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr style="font-size: 0.9em;" bgcolor="<%= cycle('#eee', '#fff') -%>">
        <td><%= image_tag "icons/document-task.png" %><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.version %></td>
        <td><%= recipe.revision %></td>
        <td><%= image_tag "icons/" + (recipe.lint ? (recipe.lint[:clean] ? "tick-circle-frame.png" : "exclamation-red-frame.png") : "working-bar.gif") %></td>
		<% if recipe.packages.count < @architectures.count %>
			<% @architectures.each do |arch| %>
				<td><%= image_tag "icons/working-bar.gif" %></td>
			<% end %>
		<% else %>
			<% recipe.packages.joins(:architecture).order('architectures.name').each do | package | %>
			<% hpkgname = "#{recipe['name']}-#{recipe['version']}-#{package.latestrev}-#{package.architecture['name']}.hpkg" %>
				<% if package.latestrev == 0 %>
					<td><%= image_tag "icons/box-missing.png" %></td>
				<% elsif package.latestrev == recipe.revision %>
					<td><%= link_to image_tag("icons/box-exists.png"), "#{package.repo['url']}/hpkg/#{hpkgname}" %></td>
				<% else %>
					<td><%= link_to image_tag("icons/box-outdated.png"), "#{package.repo['url']}/hpkg/#{hpkgname}" %></td>
				<% end %>
			<% end %>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>

<br>
