<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Recipes</h2>
  <p>This is a complete listing of <a href="http://bitbucket.org/haikuports/haikuports" target="_BLANK">recipes</a> known to the Haiku package build system</p>
	<div style="float: right; margin-top: -50px">
	<%= form_tag recipes_path, method: 'get' do %>
	    <%= text_field_tag(:search) %>
	    <%= submit_tag("Search") %>
	<% end %>
	</div>
</div>

<center>
<table style="border: 1px solid black; width: 100%; border-spacing: 0px; margin-bottom: 3px;">
  <thead>
	<tr style="font-size: 1.0em; text-align: left; background-color: #cccccc;">
		<th>Name</th>
		<th width="128px">Category</th>
		<th width="256px">Version</th>
		<th width="42px">Rev.</th>
		<th width="64px">Lint</th>
		<% @architectures.each do |arch| %>
			<th width="64px"><%= arch[:name] %></th>
		<% end %>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr style="font-size: 1.0em; background-color: <%= cycle('#eeeeee', '#ffffff') -%>;">
        <td><%= image_tag "icons/document-task.png" %><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.category %></td>
        <td><%= recipe.version %></td>
        <td><%= recipe.revision %></td>
        <td><%= image_tag "icons/" + (recipe['lintret'] == 0 ? "tick-circle-frame.png" : "exclamation-red-frame.png") %></td>
		<% if recipe.packages.count < @architectures.count %>
			<% @architectures.each do |arch| %>
				<td><%= image_tag "icons/working-bar.gif" %></td>
			<% end %>
		<% else %>
			<% recipe.packages.each do | package | %>
				<% hpkgname = "#{recipe['name']}-#{recipe['version']}-#{package.latestrev}-#{package.architecture['name']}.hpkg" %>
				<% repo = "#{package.repo['url']}/#{package.architecture['name']}/current/packages" %>
				<% age = recipe.revision - package.latestrev %>
				<% if package.latestrev == 0 %>
					<td><%= image_tag "icons/box-missing.png" %></td>
				<% elsif age == 0 %>
					<td><%= link_to image_tag("icons/box-exists.png", :alt => age.to_s), "#{repo}/#{hpkgname}" %></td>
				<% elsif age <= 4 %>
					<td><%= link_to image_tag("icons/box-outdated.png", :alt => age.to_s), "#{repo}/#{hpkgname}" %></td>
				<% else %>
					<td><%= link_to image_tag("icons/box-outdated2.png", :alt => age.to_s), "#{repo}/#{hpkgname}" %></td>
				<% end %>
			<% end %>
		<% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</center>
<%= page_entries_info @recipes %>
<%= will_paginate @recipes %>

<br>
