<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-12'>
    <span style="font-size: 1.5em; font-weight: bold;"><%=@recipe.name %></span>
    <span style="font-size: 0.8em"><%= @recipe.version %> (revision <%= @recipe.revision %>)</span>
  </div>
</div> <!-- row -->

<div class='row'>
  <div class='col-md-7'>
    <div class="panel panel-default">
  	<div class="panel-heading">Information</div>
  	<div class="panel-body">
        <div style="padding: 10px;">
          <strong>Category:</strong>
          <%= @recipe.category %><br/>
          <strong>Filename:</strong>
          <%= @recipe.filename %><br/>
          <strong>Lint:</strong>
          <%=raw @recipe[:lintret] == 0 ? "<span style='color: green'>Passing</span>" : "<span style='color: red'>Failing</span>" %>
        </div>
      </div>
    </div>
  </div>
  
  <div class='col-md-5'>
    <div class="panel panel-default">
      <div class="panel-heading">Packages</div>
      <div class="panel-body">
        <table class="table table-striped-column table-condensed" style='width: 100%; margin-bottom: 0px;'>
          <thead>
            <tr>
  			<% @architectures.each do |arch| %>
  			  <th style="text-align: center;"><b><%= arch.name %></b></th>
  			<% end %>
            </tr>
          </thead>
          <tbody>
  		    <tr>
  		      <% @recipe.packages.joins(:architecture).each do | package | %>
                <td style="text-align: center;"><%= package_icon(package, 32) %><br/>
  		        <span style='font-size: 0.8em;'><%= (package.latestrev != 0 ? package.latestrev : "none") %></span>
				</td>
  		        </td>
  		      <%-end-%>
  		    </tr>
  	      </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- end row -->

<div class="row">
  <div class='col-md-12'>
    <div class="panel panel-default">
      <div class="panel-heading">Builds Results (last 10)</div>
      <div class="panel-body">
        <table class="table table-striped table-hover table-condensed" style='width: 100%;'>
          <thead>
        	<tr>
              <td>Build</td><td>Builder</td><td>Architecture</td><td>Start date</td><td>End date</td><td>Result</td>
            </tr>
          </thead>
          <tbody>
            <% if @recipe.builds.count == 0 %>
              <tr><td colspan=6><center>No builds found</center></td></tr>
            <% end %>
            <% @recipe.builds.order('issued DESC').limit(10).each do | build | %>
        	  <tr>
              <td><%= link_to "##{build['id']}", build %></td>
              <td><%= link_to build.builder['hostname'], build.builder %></td>
              <td><%= build.architecture['name'] %></td>
              <td><%= build['issued'] %></td>
              <td><%= build['completed'] %></td>
              <td><%=raw build_state(build) %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Current Recipe</div>
      <div class="panel-body">
        <div class="CodeRay">
        <pre><%=raw CodeRay.scan_file("#{Rails.root.join("tmp")}/repos/ports.git#{@recipe.filename}", :recipe).html %></pre>
        </div>
      </div>
    </div>
  </div>
</div> <!-- row -->

<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Lint Results</div>
      <div class="panel-body">
        <%=raw @recipe[:lintret] ? @recipe[:lint] : "<span style='color: red; font-weight: bold'> Error: Missing lint data!</span>" %>
      </div>
    </div>
  </div>
</div> <!-- row -->
