<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Builds</h2>
  <p>This is a listing of package builds that have been issued.</p>
</div>

<center>
<table style="border: 1px solid black; width: 100%; border-spacing: 0px; margin-bottom: 3px;">
  <thead>
    <tr style="font-size: 1.0em; text-align: left; background-color: #cccccc;">
      <th>Architecture</th>
      <th>Builder</th>
      <th>Recipe</th>
      <th>Version</th>
      <th>Revision</th>
      <th>Issued</th>
      <th>Completed</th>
      <th>Status</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr style="font-size: 1.0em; background-color: <%= cycle('#eeeeee', '#ffffff') -%>;">
        <td><%= build.architecture['name'] %></td>
        <td><%= build.builder['hostname'] %></td>
        <td><%= build.recipe['name'] %></td>
        <td><%= build.recipe['version'] %></td>
        <td><%= build.recipe['revision'] %></td>
        <td><%= build.issued %></td>
        <td><%= build.completed ? "build.completed" : "never" %></td>
        <% if (Time.now.to_i - build.issued.to_i) > 21600 and build.completed == nil %>
        <td><%= image_tag "icons/clock--exclamation.png" %> Timed Out</td>
        <% elsif build.completed %>
        <td><%= image_tag "icons/flag-green.png" %> Complete</td>
        <% else %>
        <td><%= image_tag "icons/working-bar.gif" %> Building</td>
        <% end %>
        <td><%= link_to 'Show', build %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
