<p id="notice"><%= notice %></p>

<div class="title">
  <h2>Builds</h2>
  <p>This is a listing of package builds that have been issued.</p>
</div>

<center>
<table class="table table-striped table-hover table-condensed" style='width: 100%;'>
  <thead>
    <tr>
      <th>ID</th>
      <th>Architecture</th>
      <th>Builder</th>
      <th>Recipe</th>
      <th>Version</th>
      <th>Revision</th>
      <th>Issued</th>
      <th>Completed</th>
      <th>Status</th>
    </tr>
  </thead>

  <tbody>
    <% @builds.each do |build| %>
      <tr>
        <td><%= link_to "##{build.id}", build %></td>
        <td><%= build.architecture['name'] %></td>
        <td><%= link_to build.builder['hostname'], build.builder %></td>
        <td><%= link_to build.recipe['name'], build.recipe %></td>
        <td><%= build.recipe['version'] %></td>
        <td><%= build.recipe['revision'] %></td>
        <td><%= build.issued %></td>
        <td><%= build.completed ? build.completed : "never" %></td>
        <td><%=raw build_state(build) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
