<p id="notice"><%= notice %></p>

<p>
  <strong>Architecture:</strong>
  <%= @build.architecture['name'] %>
</p>

<p>
  <strong>Builder:</strong>
  <%= @build.builder['hostname'] %>
</p>

<p>
  <strong>Recipe:</strong>
  <%= @build.recipe['name'] %>
</p>

<p>
  <strong>Issued:</strong>
  <%= time_ago_in_words(@build.issued) %> ago (<%=@build.issued%>)
</p>

<p>
  <strong>Completed:</strong>
  <%= @build.completed %>
</p>

<p>
  <strong>Status:</strong>
  <%= image_tag "icons/#{@build.status.downcase}.png" %> <%= @build.status %>
</p>

<p>
  <strong>Result:</strong>
  <%= @build.result %>
</p>

<%= link_to 'Back', builds_path %>
