<p id="notice"><%= notice %></p>

<div class="title">
  <span id="major">Build #<%=@build.id %></span><br/>
  <span id="minor">Recipe <%=@build.recipe['name']%> on builder <%=@build.builder['hostname']%> (<%=@build.architecture['name']%>)</span>
</div>

<p>
  <strong>Status:</strong>
  <%=image_tag "icons/#{@build.status.downcase}.png"%>
  <%if @build.status.downcase == "failure"%>
  <span style="font-weight: bold; color: red;">
  <%elsif @build.status.downcase == "building"%>
  <span style="font-weight: bold; color: blue;">
  <%else%>
  <span style="font-weight: bold; color: green;">
  <%end%>
  <%= @build.status %></span>
</p>

<p>
  <strong>Issued:</strong>
  <%= time_ago_in_words(@build.issued) %> ago (<%=@build.issued%>)
</p>

<p>
  <strong>Completed:</strong>
  <%= @build.completed ? @build.completed : "never"%>
</p>

<%if @build.result%>
<p>
  <strong>Result:</strong>
  <pre><%= @build.result.gsub(/\n/, '<br>').html_safe %></pre>
</p>
<%end%>

<%= link_to 'Back', builds_path %>
