<p id="notice"><%= notice %></p>

<div class='row'>
  <div class='col-md-12'>
  <h2>Build #<%= @build.id %></h2>
  </div>
</div>

<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
    <div class="panel-heading">Build Info</div>
    <div class="panel-body">
    <table class="table table-striped  table-condensed table-hover" style='width: 100%;'>
      <tr><td>Recipe</td><td><%= link_to "#{@build.recipe['name']}-#{@build.recipe['version']}", @build.recipe %></td></tr>
      <tr><td>Status</td><td><%=raw build_state(@build) %></td></tr>
      <tr><td>Issued</td><td><%= time_ago_in_words(@build.issued) %> ago (<%=@build.issued%>)</td></tr>
      <tr><td>Completed</td><td><%= @build.completed ? @build.completed : "never"%></td></tr>
    </table>
    </div>
    </div>
  </div>
</div>

<%if @build.result%>
<div class='row'>
  <div class='col-md-12'>
    <div class="panel panel-default">
    <div class="panel-heading">Results</div>
    <div class="panel-body">
      <div class="CodeRay"><pre><%= @build.details.gsub(/\n/, '<br>').html_safe %></pre></div>
    </div>
    </div>
  </div>
</div>
<%end%>
