<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Haiku Package Build System</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'pagination.css' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<div id="header" class="container">
    <div id="logo">
        <%= image_tag 'packageinstaller-icon_64.png' %><a href="/">HaiKeuken</a></h1>
    </div>
    <div id="menu">
        <ul>
            <li <%= params[:controller] == 'recipes' ? "class=active" : nil %>><%= link_to "Recipes", :recipes %>
            <li <%= params[:controller] == 'builders' ? "class=active" : nil %>><%= link_to "Builders", :builders %>
            <li <%= params[:controller] == 'builds' ? "class=active" : nil %>><%= link_to "Builds", :builds %>
            <li <%= params[:controller] == 'help' ? "class=active" : nil %>><%= link_to "Help", :help %>
        </ul>
    </div>
</div>

<div id="page">
    <div class="container">
    <%= yield %>
    </div>
</div>

<div id="copyright" class="container">
    <p>&copy; Alexander von Gluck IV. All rights reserved.</p>
</div>
</body>
</html>
