<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
<title>Haiku Package Build System</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="" />
<meta name="description" content="" />
<link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="navbar navbar-default navbar-static-top">
    <div class="container">
      <div class="navbar-header">
        <a href="/" class="navbar-brand"><%= image_tag 'packageinstaller-icon_64.png', {:size => "24x24", :style => "display: inline-block" } %> Haikeuken</a>
      </div>
      <div class="navbar-collapse collapse" id="navbar-main">
        <ul class="nav navbar-nav">
          <li <%= params[:controller] == 'recipes' ? "class=active" : nil %>><%= link_to "Recipes", :recipes %></li>
          <li <%= params[:controller] == 'builders' ? "class=active" : nil %>><%= link_to "Builders", :builders %></li>
          <li <%= params[:controller] == 'builds' ? "class=active" : nil %>><%= link_to "Builds", :builds %></li>
          <li <%= params[:controller] == 'help' ? "class=active" : nil %>><%= link_to "Help", :help %></li>
        </ul>
      </div>
    </div>
  </div>
 
  <div class="container">
  <%= yield %>
  </div>

  <div id="copyright" class="container">
    <p style='color: #ccc;'>&copy; Haiku is a registered trademark of Haiku, Inc.</p>
  </div>
  <script>
  $(document).ready(function() {
      $("body").tooltip({ selector: '[data-toggle=tooltip]' });
  });
  </script>
</body>
</html>
